doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //base(href=App.config.get('app').url)
    title Westvoy | Reset Your Password
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body.gray-bg
    .middle-box.loginscreen.animated.fadeInDown
      if (message)
        .alert.alert-danger.alert-dismissible.show
          strong #{type}!
          |  #{message}
          button.close(type='button' data-dismiss='alert') &times;
      form.m-t#resetPasswordForm(role='form', action='/reset-password' method='post')
        input.form-control(type='hidden', name='token' value= token)
        .form-group
          input.form-control(type='password', name='password', maxlength=15 autocomplete="off", id='newPassword', placeholder='Enter new password')
        .form-group
          input.form-control(type='password', autocomplete="off", name='confirmPassword', id='confirmPassword', placeholder='Enter confirm password')
        button.btn.btn-primary.block.full-width.m-b(type='submit') Proceed

    script(src='/js/jquery-3.1.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src="/js/plugins/validate/jquery.validate.min.js")
    script.
      $(function () {
        $("#resetPasswordForm").validate({
          onkeyup: false,
          rules: {
            password: {
              required: true,
              minlength: 8
            },
            confirmPassword: {
              required: true,
              equalTo: '#newPassword'
            }
          },
          messages: {
            password: {
              required: "Please enter new password.",
              minlength: "Please enter maximum 8 character."
            },
            confirmPassword: {
              required: 'Please enter confirm password.',
              equalTo: 'Confirm password doesn\'t match.'
            }
          },
          submitHandler: function (form) {
            //console.log(form)
            form.submit()
          }
        });
      });
